<% include partials/header %>
	<h1><%= title %></h1>
	
	<% if(errors) { %>
		<ul>
			<% errors.forEach(function(error) { %>
				<li><%= error.msg %></li>
			<% }) %>
		</ul>
	<% } %>
	
	<form method="post" action="/users/add">
		<input type="text" name="first_name" placeholder="First Name"><br>
		<input type="text" name="last_name" placeholder="Last Name"><br>
		<input type="text" name="email" placeholder="Email"><br>
		<input type="submit" value="submit"><br>
	</form>
	
	<ul>
		<% people.forEach(function(people) { %>
			<li><%= people.name %></li>
		<% }) %>
	</ul>
<% include partials/footer %>
